<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>CHEF</title>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="css/style.css"> 
</head>

<body ng-app="myApp" ng-controller="recipesCtrl">
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-inverse">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Features</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
            <a class="nav-item nav-link" href="#">About</a>
        </div>
    </nav>
    <main>
        <div class="container-fluid" style="margin-top: 30px;">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort By
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ng-model="orderProp">
                    <a class="dropdown-item" value="Title" ng-click="myFunc('Title')">Title</a>
                    <a class="dropdown-item" value="Count" ng-click="myFunc('Count')">Frequency</a>
                </div>
            </div>
            <div class="row" style="margin-top: 30px">
                <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="entry in recipes | orderBy: orderProp">
                    <div class="card">
                        <img class="card-img-top" ng-src="images/{{entry.Image}}" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">{{entry.Title}}</h4>
                            <p class="card-text"><strong>Description: </strong>{{entry.Description}}</p>
                            <p class="card-text"><strong>Frequency: </strong>{{entry.Count}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <!-- Tether -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <!-- BootstrapJS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <!-- Custom JS -->
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/myctrl.js"></script>
    <script type="text/javascript" src="js/editCtrl.js"></script>
</body>

</html>